body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

/* Sortable tables */
table.sortable thead {
  background-color: rgb(145, 224, 198);
  color: #666666;
  font-weight: bold;
  cursor: default;
}

h3 span {
  font-size: 22px;
}
h3 input.search-input {
  width: 300px;
  margin-left: auto;
  float: right;
}

div a {
  float: unset;
}
