body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

/* Sortable tables */
table.sortable {
  background-color: rgb(95, 192, 163);
  color: #3bb1ab;
  font-weight: bold;
  cursor: default;
}
