body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

/* Sortable tables */
table.sortable thead {
  background-color: rgb(236, 217, 175);
  color: #1f1515;
  font-weight: bold;
  cursor: default;
  font-size: 1.8rem;
  text-align: center;
}

h3 span {
  font-size: 22px;
}
h3 input.search-input {
  width: 300px;
  margin-left: auto;
  float: right;
}

div a {
  float: none;
  font-size: 1.8rem;
}

tr:nth-child(even) {
  background-color: rgb(230, 221, 221);
}

table {
  counter-reset: rowNumber;
}

table tr::before {
  display: table-cell;
  counter-increment: rowNumber;
  content: counter(rowNumber) ".";
  padding-right: 0.3em;
  text-align: right;
  font-family: "Calibri (Body)";
}

body {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}

.hidden {
  display: none;
}
.show {
  display: block;
}

.errorlist {
  color: red;
}
.error input,
.error select {
  border: 2px red solid;
}
